/* .playerGraphics {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 20% 20% 20% 20% 20%;
} */

.App {
  text-align: center;
  /* background-color: green; */
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 64% 34%;
}