.playerGraphics {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  margin: 16px;
  opacity: 0%;
  transition: opacity 1s ease-in-out;
}


.player {
  background-color: lightgray;
  border-radius: 4px;
  display: flex;
  padding: 8px;
  height: 70px;
  width: 400px;
  background: linear-gradient(135deg, rgb(248, 235, 154) 0%, rgb(244, 195, 91) 100%);
  margin-bottom: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgb(50, 50, 50);
  /* animation! */
  transform: translateX(0px);
  transition: all 1s ease-in-out;




}

.fold {
  transform: translateX(-550px);
  height: 0;
  margin: 0;
  padding: 0;
}


.alive {
  /* transform: translateX(0px); */
  opacity: 110%;

}

.focus {
  transform: translateX(50px);
}


.name-cont {
  position: relative;
  width: 180px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-right: 8px;
  border-radius: 4px;

}

.cards-cont {
  display: flex;
  min-width: 150px;
  /* width: 180px; */
  /* background-color: red; */
  border-radius: 4px;
}

.action-cont {
  background-color: rgba(0, 0, 0, 0.2);
  width: 120px;
  margin-right: 8px;
  position: relative;
  border-radius: 4px;

}


.name {
  font-size: 32px;
  margin-right: 16px;
  text-align: left;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(8px, -50%);

  width: 100%;
  font-weight: bold;
}

.action {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  width: 100%;
  font-weight: bold;
}


.other-cont {
  position: absolute;
  top: 30%;
  transform: translateX(400px);
  width: 60px;
  background-color: white;

  border-radius: 6px;
  height: 30px;


}

.other-text {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  width: 100%;
  font-weight: bold;
}